.header {
    border-bottom: 1px solid #ECECEC;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.nav {
    display: inline-block;
    &__site {
        display: none;
    }

    &__links {
    }

    &__elem:not(:last-child) {
    }

    &__link {
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }

    &__link--current {
        color: var(--accent-color);
    }

    &__link--current::after {
    }

    &__button {
        display: inline-flex;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
    }
}

.contacts {
    display: none;

    &__item {
    }

    &__item:hover,
    &__item:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }

    &__item-icon {
        margin-right: 10px;
    }
}